.ce_form.move_label form,
.ce_form form.move_label,
.mod_login.move_label form,
.mod_registration.move_label form,
.mod_personalData.move_label form,
.mod_changePassword.move_label { 
    .widget.error { display: block !important; }
    .widget:not(.error) { position: relative; margin-top: 10px;
        label { position: absolute; 
            top: 0; 
            left: 0; 
            padding: 3px 6px; 
            transform-origin: left; 
            border: 1px solid transparent; 
            line-height: 1.5;
              transition-property: top, left, transform, width, background, border-radius, padding, line-height;
              transition-duration: 0.25s;
              transition-timing-function: ease-in-out;
            &.select { display: none; }
        }
        &.active label { top: -11px; left: 6px; transform: scale(0.7); width: auto; background: #fff; border-radius: 3px; padding: 0 2px; line-height: 1; }
        input, textarea, select { 
            width: 100%; border: 1px solid var(--border_color); border-radius: 0; padding: 3px 6px; box-shadow: none; outline: none; line-height: 1.5;
        }
    }
}
