form.move_labels,
.move_labels form { 
    .widget-text, 
    .widget-textarea,
    .widget-password { 
        position: relative; 
        padding-top: 15px;
        label { 
            position: absolute; 
            top: 15px;
            left: 0; 
            padding: 6px; 
            transform-origin: left; 
            border: 1px solid transparent; 
            line-height: 1.6;
            transition-property: top, left, width, background, border-radius, padding, line-height, font-size;
            transition-duration: 0.25s;
            transition-timing-function: ease-in-out;
            &.select { display: none; }
        }
        &.active label { 
            top: 3px; 
            left: 6px; 
            font-size: 13px;
            width: auto;
            background: #fff; 
            border-radius: 3px; 
            padding: 0 2px; 
            line-height: 1; 
        }
        input, textarea{ 
            width: 100%;
            padding: 6px; 
            line-height: 1.6;
        }
    }
}